<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">
<title>Safe Exchange - Exchange with Trust</title>
<!--Bootstrap -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
<!--Custome Style -->
<link rel="stylesheet" href="assets/css/style.css" type="text/css">
<!--OWL Carousel slider-->
<link rel="stylesheet" href="assets/css/owl.carousel.css" type="text/css">
<!--FontAwesome Font Style -->
<link href="assets/css/font-awesome.min.css" rel="stylesheet">
<!-- Custom Colors -->
<link rel="stylesheet" href="assets/css/colors/blue.css">
<!--<link rel="stylesheet" href="assets/css/colors/red.css">-->
<!--<link rel="stylesheet" href="assets/css/colors/orange.css">-->
<!--<link rel="stylesheet" href="assets/css/colors/pink.css">-->
<!--<link rel="stylesheet" href="assets/css/colors/green.css">-->
<!--<link rel="stylesheet" href="assets/css/colors/purple.css">-->
    
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/favicon-icon/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/favicon-icon/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="assets/images/favicon-icon/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="assets/images/favicon-icon/favicon.png">
<!-- Google-Font-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"> 
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->  
</head>
<body>

<!-- Header -->
<header id="header" class="header_solidbg">
    <nav class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="10">
        <div class="container">
          <div class="navbar-header">
            <div class="logo"> <a href="/"><img src="assets/images/logo.png" alt="image"/></a> </div>
            <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> 
                <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav">
              
              <li><a id="login-button" type="submit" href="/auth">Login</a></li>

              <li class="menu-item-has-children" class="hide" id="user-nav-menu">
                <img src="assets/images/reggie.jpg" alt="img" id="user-avatar">
                <a href="#" id="full-name"></a> <span class="arrow"></span>
                <ul class="sub-menu">
                  <li><a href="/profile"><i class="fa fa-user-o"></i> Profile</a></li>
                    <li><a href="/history"><i class="fa fa-history"></i> History</a></li>
                    <li><a href="/logout"><i class="fa fa-power-off"></i> Logout</a></li>
                 </ul>
              </li>
            </ul>
            <div class="submit_listing">
              <a href="dashboard-add-listing.html" class="btn outline-btn"><i class="fa  fa-plus-circle"></i> Submit Listing</a>
            </div>
          </div>
        </div>
    </nav>
</header>
<!-- /Header -->

<!-- Image-Slider -->
<section id="listing_detail_banner" class="parallex-bg">
	<div id="listing_img_slider">
    	<div class="owl-carousel owl-theme">
           <div class="item"><img src="assets/images/tesla-1.jpg" alt="image"></div>
           <div class="item"><img src="assets/images/tesla-2.jpg" alt="image"></div>
           <div class="item"><img src="assets/images/tesla-3.jpg" alt="image"></div>
           <div class="item"><img src="assets/images/tesla-4.jpg" alt="image"></div>
        </div>   
    </div>
    <div class="view_map">
	    <a href="#single_map" class="js-target-scroll"><i class="fa fa-map-marker"></i></a>
    </div>
</section>
<!-- /Image-Slider -->

<section class="listing_detail_header">
	<div class="container">
    	<h1>Tesla Model S</h1>
        <p>2012 in great condition</p>
        <div class="listing_rating">
            <p><span class="review_score">4.0/5</span> 
               <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> 
               <i class="fa fa-star active"></i> <i class="fa fa-star"></i> 
               (52 Views) </p>
            <p class="listing_like"><a href="#"><i class="fa fa-heart-o"></i> 5 Likes</a></p>
            <p class="listing_favorites"><a href="#"><i class="fa fa-bookmark-o"></i> Add to favorites</a></p>   
        </div>   
    </div>
</section>

<!-- Listings -->
<section class="listing_info_wrap">
	<div class="container">
    	<div class="row">
        	<div class="col-md-8">
            	<div class="listinghub_detail">
                	<div class="pricing_info">
                    	<p class="listing_price">51,000,000 - 53,000,000 <span>points</span></p>
                        <div class="listing_message"><a class="btn" data-toggle="modal" data-target="#message_modal"><i class="fa fa-random"></i> Start Exchange</a></div>
                    </div>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                          <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                              <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#description" aria-expanded="true" aria-controls="collapseOne">
                                 <i class="fa  fa-file-text-o"></i> Listing Description</a>
                                </a>
                              </h4>
                            </div>
                            <div id="description" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                              <div class="panel-body">
                                <p>Driven by senior, non smoker, with no children at home and no pets. Maintained only by Tesla Service Center at 5700 S. Broadway, Littleton, CO At the suggestion of Tesla, the owner purchased a four year extended Tesla transferable warranty in 1/2017 for $4,250., good until 12/2020 The owner also purchased a Maintenance plan for $3,800., good until 12/2020.</p>

                                <p>This Tesla has been completely serviced and detailed in June 2017 and prepared for sale.
                                We are asking $56,500. for the car including the extended warranty and maintenance plan.
                                We are asking $53,000. for the car without the extended warranty and maintenance plan.
                                You do not need to buy the transferable warranty if you do not want it. It is refundable to the estate of the owner.</p>

                                <p>The reason for selling is that the owner is deceased and his family also has a 2013 Tesla S.</p>

                                <p>The Kelly blue book private party value of this Tesla without warranty at excellent condition is $57,168, at very good condition $56,259. and good condition is $53,606.</p>
                              </div>
                            </div>
                          </div>
                    </div>
                    
                     <!-- Listing-Map -->
                    <div id="single_map">
                        <div class="widget_title">
                             <h4>View Map</h4>
                        </div>
                        <div id="singleListingMap-container">
      <div id="singleListingMap" data-latitude="34.6230191" data-longitude="-98.4315764" data-map-icon="assets/images/category-icon2.png"></div>
                            <a href="#" id="streetView">Street View</a>
                        </div>
                    </div>
                    <!-- /Listing-Map -->

            	</div>
            </div>
            
            <!-- Sidebar -->
			 <div class="col-md-4">
            	<div class="listinghub_sidebar">
                	<div class="sidebar_wrap listing_action_btn">
                    	<ul>
                            <li><a data-toggle="modal" data-target="#share_modal"><i class="fa fa-share-alt"></i> Share This</a></li>
                            <li><a data-toggle="modal" data-target="#email_friends_modal"><i class="fa fa-envelope-o"></i>Email to Friends</a></li>
                            <li><a data-toggle="modal" data-target="#offers_modal" class="js-target-scroll"> <i class="fa fa-credit-card"></i> Credit Offers</a></li>
                            <li><a data-toggle="modal" data-target="#report_modal"><i class="fa fa-bank"></i> New Account</a></li>
                        </ul>
                    </div>
                	<div class="sidebar_wrap listing_contact_info">
                    	<div class="widget_title">
	                    	<h6>Exchange Info</h6>
                        </div>
                        <img src="assets/images/mike.jpg" class="pull-right" height="70" width="70">
                    	  <ul>
                          <li><i class="fa fa-user"></i> Mike Lockwitz</li>
                        	<li><i class="fa fa-map-marker"></i> 3829 106th Ave</li>
                          <li><i class="fa fa-phone"></i> <a href="tel:+61-1234-5678-09">303-338-0098</a></li>
                          <li><i class="fa fa-envelope"></i> <a href="mailto:contcat@example.com">mikel@gmail.com</a></li>
                        </ul>
                        <div class="social_links">
                        	<a href="#" class="facebook_link"><i class="fa fa-facebook-f"></i></a>
                        	<a href="#" class="linkedin_link"><i class="fa fa-linkedin"></i></a>
                        	<a href="#" class="twitter_link"><i class="fa fa-twitter"></i></a>
                        	<a href="#" class="google_plus_link"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                    
                    <div class="sidebar_wrap">
                    	<div class="widget_title">
	                    	<h4>Watch Video</h4>
                        </div>
                    	<div class="listing_video">
                          <iframe class="mfp-iframe" src="https://www.youtube.com/embed/bydoVZ5DApQ" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Sidebar -->
        </div>
    </div>
</section>
<!-- /Listings -->


<!-- Footer -->
<footer id="footer" class="footer_2 secondary-bg">  
    <div class="footer_bottom">
      <div class="container">
          <div class="row">
                <div class="col-md-12">
                <p>Copyright &copy; 2017 Safe Exchange</p>    
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->

<!-- Share-Listing -->
<div id="share_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h3 class="modal-title">Share Listing</h3>
      </div>
      <div class="modal-body">
      	<div class="share_listing">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Share-Listing -->

<!-- Email-to-Friends -->
<div id="email_friends_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h3 class="modal-title">Email to Friend</h3>
      </div>
      <div class="modal-body">
        <form action="#" method="get">
          <div class="form-group">
            <input class="form-control" placeholder="Your Name" type="text">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Your Email Address" type="email">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Friend Email Address" type="email">
          </div>
          <div class="form-group">
            <textarea rows="4" class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="form-group">
            <input value="Submit" class="btn btn-block" type="submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Email-to-Friends -->

<!-- Report -->
<div id="report_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h3 class="modal-title">$50 Bonus</h3>
        <p>Because you are already a CapitalOne OpenID member, we can open a FREE banking account.</p>
      </div>
      <div class="modal-body">
        <form action="#" method="get">
          <div class="row">
            <div class="form-group col-md-5">
              <label class="form-label">First Name</label>
              <input type="text" class="form-control" value="Reggie">
            </div>
            <div class="form-group col-md-2">
              <label class="form-label">Middle Initial</label>
              <input type="text" class="form-control" value="G">
            </div>
            <div class="form-group col-md-5">
              <label class="form-label">Last Name</label>
              <input type="text" class="form-control" value="Johnson">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label class="form-label">Street</label>
              <input type="text" class="form-control" value="1230 Duck Fuss Lane">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label class="form-label">City</label>
              <input type="text" class="form-control" value="Beaumont">
            </div>
            <div class="form-group col-md-4">
              <label class="form-label">State</label>
              <input type="text" class="form-control" value="TX">
            </div>
            <div class="form-group col-md-4">
              <label class="form-label">Zip</label>
              <input type="text" class="form-control" value="77701">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label class="form-label">Tax ID</label>
              <input type="text" class="form-control" placeholder="xxx-xx-xxxx">
            </div>
            <div class="form-group col-md-6">
              <label class="form-label">Date of Birth</label>
              <input type="text" class="form-control" value="1970-06-29">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label class="form-label">Annual Income</label>
              <input type="text" class="form-control" value="$75,0000">
            </div>
            <div class="form-group col-md-6">
              <label class="form-label">Email</label>
              <input type="text" class="form-control" value="reggie@rgjohnson.com">
            </div>
          </div>
          <div class="row">
            
          </div>
          
          <div class="form-group">
            <input value="Instant Account" class="btn btn-block" type="submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Report -->

<!-- Send-Message -->
<div id="message_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h3 class="modal-title">Start Exchange</h3>
      </div>
      <div class="modal-body">
        <form action="#" method="get">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <textarea rows="4" class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="form-group">
            <input value="Send Message" class="btn btn-block" type="submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Send-Message -->

<!-- offers -->
<div id="offers_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h3 class="modal-title">Credit Card Offers</h3>
      </div>
      <div class="modal-body">
        <h4>Venture<sup>®</sup> Rewards</h4>

        <p>Earn unlimited 2X miles per dollar on every purchase. Plus, earn 40,000 bonus miles once you spend $3,000 on purchases within the first 3 months.</p>

        <div class="text-center">
          <img src="https://content.capitalone.com/product/images/www-venture-visa-sig-flat-9-14.png">
        </div>

        <ul>
          <li>13.24% to 23.24% variable APR</li>
          <li>13.24% to 23.24% variable APR; No Transfer Fee</li>
          <li>$0 intro for the first year; $59 after that</li>
        </ul>

        <a href="#" class="btn btn-primary">Apply Now</a>
      </div>
    </div>
  </div>
</div>
<!-- /Send-Message -->

<!-- Scripts --> 
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script> 
<script src="assets/js/interface.js"></script> 
<!--Carousel-JS--> 
<script src="assets/js/owl.carousel.min.js"></script>
<!--Map-JS--> 
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
<script src="assets/js/maps.js"></script>



</body>
</html>